<div class="page-layout__content page-layout__content--one-column">
  <announcement-form
    *ngIf="createAnnouncementFormIsVisible"
    (announcementSubmitted)="hideCreateAnnouncementForm()"
    (canceled)="hideCreateAnnouncementForm()">
  </announcement-form>

  <list-view
    title="{{'list-view.title.director-announcement' | translate}}"
    [pageSize]="pageSize"
    [service]="announcementService"
    [sortFields]="sortFields"
    [defaultSort]="defaultSort"
    (pageChange)="initAnnouncements($event)">

    <ng-container *ngFor="let item of announcements">
      <announcement-form
        *ngIf="item === announcementToEdit"
        [initialAnnouncement]="announcementToEdit"
        (announcementSubmitted)="hideEditAnnouncementForm()"
        (canceled)="announcementToEdit = null">
      </announcement-form>

      <announcement-item *ngIf="item !== announcementToEdit" [announcement]="item">
        <div class="item-management-bar">
          <button mat-button color="primary" (click)="showEditForm(item)">{{ 'common.edit' | translate }}</button>
          <delete-item [id]="item.id" [service]="announcementService" (deleted)="refreshPage()"></delete-item>
        </div>
      </announcement-item>
    </ng-container>
  </list-view>
</div>

<new-item-button (buttonClick)="showCreateAnnouncementForm()"></new-item-button>
