<mat-horizontal-stepper [linear]="true" #stepper>
  <mat-step [stepControl]="basicDataForm" [completed]="false">
    <ng-template matStepLabel>{{ 'sportObjectCreator.basicData.header' | translate}}</ng-template>

    <form [formGroup]="basicDataForm" novalidate>
      <div class="form__body">
        <mat-form-field class="form__field">
          <input formControlName="name" matInput placeholder="{{ 'sportObjectCreator.basicData.name' | translate }}">

          <mat-error *ngIf="basicDataForm.controls.name.errors?.required">
            {{ 'error.required' | translate }}
          </mat-error>
        </mat-form-field>

        <mat-form-field class="form__field">
          <textarea formControlName="description"
                    matInput
                    placeholder="{{ 'sportObjectCreator.basicData.description' | translate }}"
                    rows="10"></textarea>

          <mat-error *ngIf="basicDataForm.controls.description.errors?.required">
            {{ 'error.required' | translate }}
          </mat-error>

          <mat-error *ngIf="basicDataForm.controls.description.errors?.maxlength">
            {{ 'error.maxLength' | translate:{'length': maxContentLength} }}
          </mat-error>
        </mat-form-field>

        <div class="form__body">
          <mat-form-field class="form__field">
            <input formControlName="imageUrl" matInput placeholder="{{ 'sportObjectCreator.basicData.imageUrl' | translate }}">

            <mat-error *ngIf="basicDataForm.controls.imageUrl.errors?.required">
              {{ 'error.required' | translate }}
            </mat-error>
          </mat-form-field>
        </div>
      </div>

      <div class="form__footer form__footer--with-space-between">
        <button [disabled]="basicDataForm.invalid"
                mat-button
                matStepperNext>
          {{ 'common.next' | translate}}
        </button>
        <button mat-button (click)="cancel()">{{ 'common.cancel' | translate}}</button>
      </div>
    </form>
  </mat-step>
  <mat-step [stepControl]="basicDataForm" [completed]="false">
    <ng-template matStepLabel>{{ 'sportObjectCreator.map.header' | translate}}</ng-template>
    <div class="map">
      <agm-map [(latitude)]="address.latitude"
               [(longitude)]="address.longitude"
               [(zoom)]="mapZoom"
               [disableDefaultUI]="true"
               [zoomControl]="true">
        <agm-marker [(latitude)]="address.latitude"
                    [(longitude)]="address.longitude"
                    [markerDraggable]="true"
                    (dragEnd)="updateAddressForm($event)"></agm-marker>
      </agm-map>
    </div>

    <div class="form__footer form__footer--with-space-between">
      <button
        mat-button
        matStepperNext>{{ 'common.next' | translate}}</button>
      <div>
        <button mat-button (click)="cancel()">{{ 'common.cancel' | translate}}</button>
        <button mat-button matStepperPrevious>{{ 'common.previous' | translate}}</button>
      </div>
    </div>
  </mat-step>
  <mat-step [stepControl]="basicDataForm" [completed]="false">
    <ng-template matStepLabel>{{ 'sportObjectCreator.position.header' | translate}}</ng-template>

    <form [formGroup]="positionForm" novalidate>
      <div class="form__body">
        <mat-form-field class="form__field">
          <input formControlName="name" matInput placeholder="{{ 'sportObjectCreator.position.name' | translate }}">

          <mat-error *ngIf="positionForm.controls.name.errors?.required">
            {{ 'error.required' | translate }}
          </mat-error>
          <mat-error *ngIf="positionForm.controls.name.errors?.uniquePositionName">
            {{ 'error.unique' | translate }}
          </mat-error>
        </mat-form-field>

        <mat-form-field class="form__field">
          <textarea formControlName="description"
                    matInput
                    placeholder="{{ 'sportObjectCreator.position.description' | translate }}"
                    rows="3"></textarea>

          <mat-error *ngIf="positionForm.controls.description.errors?.required">
            {{ 'error.required' | translate }}
          </mat-error>

          <mat-error *ngIf="positionForm.controls.description.errors?.maxlength">
            {{ 'error.maxLength' | translate:{'length': maxContentLength} }}
          </mat-error>
        </mat-form-field>

        <div class="form__body">
          <mat-form-field class="form__field">
            <input type="number"
                   min="1"
                   max="{{maxPositionsCount}}"
                   formControlName="positionsCount"
                   matInput
                   placeholder="{{ 'sportObjectCreator.position.positionsCount' | translate }}">

            <mat-error *ngIf="positionForm.controls.positionsCount.errors?.required">
              {{ 'error.required' | translate }}
            </mat-error>
            <mat-error *ngIf="positionForm.controls.positionsCount.errors?.min">
              {{ 'error.positive' | translate }}
            </mat-error>
            <mat-error *ngIf="positionForm.controls.positionsCount.errors?.max">
              {{ 'error.max' | translate:{'max': maxPositionsCount} }}
            </mat-error>
          </mat-form-field>
        </div>
      </div>
      <div class="form__footer">
        <button type="submit" mat-button [disabled]="positionForm.invalid" (click)="addPosition()">
          {{ 'common.add' | translate}}</button>
      </div>
    </form>

    <div *ngIf="positions.length > 0" class="sport-object-positions-list">
      <h2 class="header__h2">{{ 'sportObjectCreator.position.header' | translate}}</h2>
      <div class="card card--inline" *ngFor="let item of positions">
        <h2 class="header__h4 card--inline__item">{{item.name}}</h2>
        <span class="card--inline__item--wider">
          {{ 'sportObjectCreator.position.positionsCount' | translate }}: {{ item.positionsCount }}
        </span>
        <div>
          <button class="card--inline__item" mat-button color="warn" (click)="deletePosition(item)">
            {{'common.delete' | translate}}
          </button>
        </div>
      </div>
    </div>

    <div *ngIf="positions.length === 0">
      <h2 class="header__h2 no-content">{{'common.noContent' | translate}}</h2>
    </div>

    <div class="form__footer form__footer--with-space-between">
      <button
        [disabled]="positions.length === 0"
        mat-button
        matStepperNext>{{ 'common.next' | translate}}</button>
      <div>
        <button mat-button (click)="cancel()">{{ 'common.cancel' | translate}}</button>
        <button mat-button matStepperPrevious>{{ 'common.previous' | translate}}</button>
      </div>
    </div>
  </mat-step>
  <mat-step [stepControl]="openingTimeForm" [completed]="false">
    <ng-template matStepLabel>{{ 'sportObjectCreator.openingTime.header' | translate}}</ng-template>

    <form [formGroup]="openingTimeForm" novalidate>
      <div class="form__body">
        <mat-form-field class="form__field">
          <mat-select formControlName="dayOfWeek" placeholder="{{'sportObjectCreator.openingTime.dayOfWeek' | translate}}">
            <mat-option *ngFor="let day of daysOfWeek" value="{{day}}">
              {{'sportObjectCreator.openingTime.' + day | translate}}
            </mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field class="form__field">
          <input type="time"
                 formControlName="startTime"
                 matInput
                 placeholder="{{ 'sportObjectCreator.openingTime.startTime' | translate }}">

          <mat-error *ngIf="openingTimeForm.controls.startTime.errors?.required">
            {{ 'error.required' | translate }}
          </mat-error>
        </mat-form-field>

        <mat-form-field class="form__field">
          <input type="time"
                 formControlName="finishTime"
                 matInput
                 placeholder="{{ 'sportObjectCreator.openingTime.finishTime' | translate }}">

          <mat-error *ngIf="openingTimeForm.controls.finishTime.errors?.required">
            {{ 'error.required' | translate }}
          </mat-error>
        </mat-form-field>

        <mat-form-field class="form__field">
          <mat-select formControlName="timeInterval" placeholder="{{'sportObjectCreator.openingTime.timeInterval' | translate}}">
            <mat-option value="30">{{'sportObjectCreator.openingTime.timeIntervalType.30' | translate}}</mat-option>
            <mat-option value="60">{{'sportObjectCreator.openingTime.timeIntervalType.60' | translate}}</mat-option>
            <mat-option value="90">{{'sportObjectCreator.openingTime.timeIntervalType.90' | translate}}</mat-option>
            <mat-option value="120">{{'sportObjectCreator.openingTime.timeIntervalType.120' | translate}}</mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field class="form__field">
          <input currencyMask
                 [options]="{ prefix: 'PLN ', align: 'left'}"
                 formControlName="price"
                 matInput
                 placeholder="{{ 'sportObjectCreator.openingTime.price' | translate }}">

          <mat-error *ngIf="openingTimeForm.controls.price.errors?.required">
            {{ 'error.required' | translate }}
          </mat-error>
        </mat-form-field>
      </div>
      <div class="form__footer">
        <button type="submit" mat-button [disabled]="openingTimeForm.invalid" (click)="addOpeningTime()">
          {{ 'common.add' | translate}}</button>
      </div>
    </form>

    <div class="card card--inline" *ngFor="let item of getSortedOpeningTimes()">
      <h2 class="header__h4 card--inline__item">{{'sportObjectCreator.openingTime.' + item.dayOfWeek | translate}}</h2>
      <span class="card--inline__item">{{ 'sportObjectCreator.openingTime.startTime' | translate}}: {{item.startTime.hour | number:'2.0-0'}}:{{item.startTime.minute | number:'2.0-0'}}</span>
      <span class="card--inline__item">{{ 'sportObjectCreator.openingTime.finishTime' | translate}}: {{item.finishTime.hour | number:'2.0-0'}}:{{item.finishTime.minute | number:'2.0-0'}}</span>
      <div class="card--inline__item">
        <div>{{ 'sportObjectCreator.openingTime.price' | translate}}:</div>
        <div>PLN {{item.price | number:'2.2-2'}}</div>
      </div>
      <span class="card--inline__item">{{ 'sportObjectCreator.openingTime.timeInterval' | translate}}: {{item.timeInterval}} min</span>
      <div>
        <button class="card--inline__item" type="submit" mat-button color="warn" (click)="deleteOpeningTime(item.dayOfWeek)">
          {{ 'common.delete' | translate }}
        </button>
      </div>
    </div>

    <div class="form__footer form__footer--with-space-between">
      <button mat-button color="primary" (click)="confirm()">{{ 'common.confirm' | translate}}</button>
      <div>
        <button mat-button (click)="cancel()">{{ 'common.cancel' | translate}}</button>
        <button mat-button matStepperPrevious>{{ 'common.previous' | translate}}</button>
      </div>
    </div>
  </mat-step>
</mat-horizontal-stepper>
