<div class="sport-object-container">
  <div class="card sport-object-header">
    <img class="sport-object-header__image" src="https://images.pexels.com/photos/248797/pexels-photo-248797.jpeg" />
    <section class="sport-object-header__description">
      <h5 class="header header--bolded header__h5">{{sportObject.name}}</h5>
      <p>{{sportObject.description}}</p>
    </section>
  </div>

  <div class="booking-container">
    <div class="card booking-view">
      <div class="booking-view__date-bar">
        <button mat-button (click)="previousDay()">
          <mat-icon>fast_rewind</mat-icon>
          <span>{{previousDate | date: 'yyyy-MM-dd'}} ({{'sportObjectCreator.openingTime.' + getNameOfDayFromDate(previousDate) | translate}})</span>
        </button>
        <h4 class="header__h4 header--bolded booking-view__current-date">{{date | date: 'yyyy-MM-dd'}} ({{'sportObjectCreator.openingTime.' + getNameOfDayFromDate(date) | translate}})</h4>
        <button mat-button (click)="nextDay()">
          <span>{{nextDate | date: 'yyyy-MM-dd'}} ({{'sportObjectCreator.openingTime.' + getNameOfDayFromDate(nextDate) | translate}})</span>
          <mat-icon>fast_forward</mat-icon>
        </button>
      </div>

      <table *ngIf="sportObjectPositions.length > 0 && getOpeningTimesInCurrentDate().length > 0" class="booking-view__content">
        <tr>
          <th></th>
          <th *ngFor="let position of sportObjectPositions">{{position.name}}</th>
        </tr>
        <tr *ngFor="let openingTime of getOpeningTimesInCurrentDate()">
          <th>{{openingTime.startTime.hour | number:'2.0-0'}}:{{openingTime.startTime.minute | number:'2.0-0'}}</th>
          <td *ngFor="let detail of getDetailsForOpeningTime(openingTime.id)">
            <div *ngIf="getFreePositions(detail) > 0" class="booking-view__detail">
              <button mat-button color="primary" (click)="book(detail)">{{'sportObject.book' | translate}}</button>
              <span>{{'sportObject.freePositions' | translate}}: {{getFreePositions(detail)}}</span>
            </div>
            <div *ngIf="getFreePositions(detail) <= 0" class="booking-view__detail">
              <span>{{'sportObject.allBooked' | translate}}</span>
            </div>
          </td>
        </tr>
      </table>

      <div *ngIf="sportObjectPositions.length === 0 || getOpeningTimesInCurrentDate().length === 0">
        <h2 class="header__h2 no-content">{{'common.noContent' | translate}}</h2>
      </div>
    </div>

    <booking-summary *ngIf="authenticationService.isSignedIn() && bookingSummaryService.detailsExists()" class="booking-summary" [openingTimes]="openingTimes" [sportObjectPositions]="sportObjectPositions" (deleted)="updateBookedPositionsCount($event)"></booking-summary>
  </div>
</div>

