<nav class="menu">
  <ng-content></ng-content>

  <div *ngIf="authenticationService.isSignedIn()" class="menu__authentication">
    <a mat-button color="primary" (click)="signOut()">{{ 'menu.sign-out' | translate }} ({{authenticationService.getUsername()}})</a>
  </div>

  <div *ngIf="!authenticationService.isSignedIn()" class="menu__authentication">
    <a mat-button routerLink="/public/sign-up">{{ 'menu.sign-up' | translate }}</a>
    <a mat-button color="primary" routerLink="/public/sign-in">{{ 'menu.sign-in' | translate }}</a>
  </div>
</nav>
