:host {
  padding: 0;
}

.menu {
  display: flex;
  justify-content: space-between;
  //
  //&__left-nav {
  //  display: flex;
  //}

  &__right-nav {
    //margin-left: auto;
    display: flex;
  }
}
